<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
</head>

<body>
<header id="header">
    <div id="menu">
        <h3 class="masthead-brand"><a href="/todo">TODO LIST</a></h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/todo">Main page</a>
        </nav>
    </div>
</header>
<div class="container">
    <h1 th:text="#{todo.add.task}"></h1>
    <hr/>
    <p>
    <form th:action="@{todo}" method="post" th:object="${todo}">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="description">Description:</label>
            <input name="description" type="text" class="form-control col-sm-8" id="description"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="finishDate">Finish date:</label>
            <input name="finishDate" type="datetime-local" class="form-control col-sm-8" id="finishDate"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="priority">Priority:</label>
            <select class="form-control col-sm-8" id="priority" name="priority">
                <option value="HIGH">High</option>
                <option value="NORMAL" selected>Normal</option>
                <option value="LOW">Low</option>
            </select>
        </div>
        <button class="btn btn-primary col-sm-3">Save</button>
    </form>
    </p>
    <br/><br/>
    <hr/>
    <p>
        <table class="table table-dark">
            <thead class="thead-dark">
                <th>Description</th>
                <th>Finish date</th>
                <th>Priority</th>
                <th>Delete</th>
            </thead>
            <th:block th:each="todo: ${todoList}">
                <tr>
                    <td th:text="${todo.description}"></td>
                    <td th:text="${todo.finishDate}"></td>
                    <td th:text="${todo.priority}"></td>
                    <td><a th:href="@{'todo/delete/' + ${todo.id}}">Delete</a></td>
                </tr>
            </th:block>
        </table>
    </p>
</div>
<footer class="mastfoot mt-auto">
    <div id="footer">
        Błażej Piotrowski
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>