<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
</head>

<body>
<div th:replace="fragments :: header"></div>
<div class="container">
    <h1 th:text="#{todo.add.task}"></h1>
    <hr/>
    <p>
    <form th:action="@{/}" method="post" th:object="${todoForm}">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="description" th:text="#{todo.description}">:</label>
            <input name="description" type="text" class="form-control col-sm-8" id="description"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="finishDate">Finish date:</label>
            <input name="finishDate" type="datetime-local" class="form-control col-sm-8" id="finishDate"/>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="priority">Priority:</label>
            <select class="form-control col-sm-8" id="priority" name="priority">
                <option value="HIGH">High</option>
                <option value="NORMAL" selected>Normal</option>
                <option value="LOW">Low</option>
            </select>
        </div>
        <button class="btn btn-primary col-sm-3">Save</button>
    </form>
    </p>
    <br/><br/>
    <hr/>
    <p>
        <table class="table table-dark">
            <thead class="thead-dark">
                <th>Description</th>
                <th>Finish date</th>
                <th>Priority</th>
                <th>Delete</th>
            </thead>
            <th:block th:each="todo: ${todoList}">
                <tr>
                    <td th:text="${todo.description}"></td>
                    <td th:text="${todo.finishDate}"></td>
                    <td th:text="${todo.priority}"></td>
                    <td><a th:href="@{'delete/' + ${todo.id}}">Delete</a></td>
                </tr>
            </th:block>
        </table>
    </p>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>